body
{
    background-color:black;
}
.main
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:20px;
    row-gap:20px;
}
.image
{
    width:100%;
}
.channel-name,.stats
{
    color:grey;
}
.description
{
    display:grid;
    grid-template-columns:70px 1fr;
}