.header
{
    display:flex;
    position:fixed;
    flex-direction:row;
    height:57px;
    justify-content:space-between;
    left:0px;
    right:0px;
    top:0px;
    background-color:white;
    border-bottom-color:white;
    z-index:1;
}
.left-section
{
    display:flex;
    align-items:center;
}
.hamber-menu
{
    height:22px;
    width:22px;
    padding-left:20px;
    padding-right:20px;
}
.youtube-logo
{
    
    height:20px;
    width:90px;
}
.middle-section
{
        display:flex;
        flex:1;
        justify-content:center;
        align-items:center;
}
.search-bar
{
    height:32px;
    flex:1;
    width:0px;
    max-width:358px;
}
.search-button
{
    height:36.5px;
    margin-right:10px;
}
.search-icon-image
{
    width:32px;
    height:22px;
    padding-top:5px;
}
.voice-icon
{
    height:36.5px;
    width:40px;
    border-radius:20px;
    border:none;
}
.right-section
{
    width:180px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-shrink:0;
}
.upload-image,.apps-image,.notification-image
{
    height:24px;
    width:24px;
}
.profile-picture
{
    height:32px;
    width:32px;
    border-radius:16px;
}
.notification
{
    position:relative;
}
.notification-count
{
    position:absolute;
    background-color:rgb(255, 0, 0);
    color:white;
    font-size:14px;
    top:-5px;;
    right:-2px;
    padding-left:4px;
    padding-right:4px;
    border-radius:10px;
}

